body{
	background-color: #091d30;
	color: #fff;
	font-family: Verdana, Serif;
}
a{
	text-decoration: none;
	color: #fff;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}
a:hover{
	color: #0f2e4d;
	background-color: rgba(255,255,255,0.6);
	-webkit-box-shadow: -1px 3px 48px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 3px 48px -8px rgba(0,0,0,0.75);
	box-shadow: -1px 3px 48px -8px rgba(0,0,0,0.75);
	}

ul{
	padding: 0;
	margin: 0;
	text-align: left;
}
ul li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.main-wrapper{
	max-width: 1500px;
	margin: 0 auto;
}
.banner-wrapper{
	background-color: #091d30;
	height: 80px;
	max-width: 98%;
    margin-left: 15px;
    margin-right: 15px;
}
/* style main content */
.middle-section .row{
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid rgba(13,41,69, 0.5);
    background: rgba(13,41,69,0.3);
	background: -moz-linear-gradient(top, rgba(13,41,69,0.3) 0%, rgba(45,141,173,0.3) 0%, rgba(17,111,140,0.48) 25%, rgba(13,41,69,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,41,69,0.3)), color-stop(0%, rgba(45,141,173,0.3)), color-stop(25%, rgba(17,111,140,0.48)), color-stop(100%, rgba(13,41,69,1)));
	background: -webkit-linear-gradient(top, rgba(13,41,69,0.3) 0%, rgba(45,141,173,0.3) 0%, rgba(17,111,140,0.48) 25%, rgba(13,41,69,1) 100%);
	background: -o-linear-gradient(top, rgba(13,41,69,0.3) 0%, rgba(45,141,173,0.3) 0%, rgba(17,111,140,0.48) 25%, rgba(13,41,69,1) 100%);
	background: -ms-linear-gradient(top, rgba(13,41,69,0.3) 0%, rgba(45,141,173,0.3) 0%, rgba(17,111,140,0.48) 25%, rgba(13,41,69,1) 100%);
	background: linear-gradient(to bottom, rgba(13,41,69,0.3) 0%, rgba(45,141,173,0.3) 0%, rgba(17,111,140,0.48) 25%, rgba(13,41,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d2945', endColorstr='#0d2945', GradientType=0 );
    padding: 15px 0px 15px 10px;
}
.middle-section .row .col-md-3{
	padding: 0;
}
.middle-section .row .col-md-3 span{
	padding: 3%;
}
.middle-section .row .col-md-9{
	padding-left: 10px;
}
.my-tabs{
	margin-top: 20px;
}
/* end style main content */

/* style left sidebar */
.left-sidebar, .right-sidebar{
	background-color: #0f2e4d;
}
.left-sidebar-nav li{
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid #fff;
}
/* end style left sidebar */


/* style right sidebar */
.right-sidebar .row, .right-sidebar .search{
  padding-top: 10px;
}
.right-sidebar .row span{
  padding: 5px;
}
.search input[type="text"] {
    position: relative;
    border-radius: 15px;
    width: 90%; 
}
.search input[type=text]:focus{
	border-radius: 15px;
	outline: none;
	background-color: #e5e5e5;
}

input { font-family: 'FontAwesome'; }

.search:before {
    font-family: 'FontAwesome';
    color: #fff;
    position: relative;
    left: -5px;
    content: "\f002";
}

/* end right sidebar */

/* footer */
footer {
	background-color: #0f2e4d;
	margin-top: 20px;
}

/* end styles footer */