body{
	background: url(../img/dota_bg.png) no-repeat 0 100% rgb(9, 29, 48);
	background-attachment: fixed;
	color: #eae7c7;
	font-family: Verdana, Serif;
}
img{
	max-width: 95%;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: #fff;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}
a:hover{
	color: #fff;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	text-decoration: none;
	}

ul{
	padding: 0;
	margin: 0;
	text-align: left;
}
ul li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
div, span, ul li{
  box-sizing: border-box;
}

.col-md-6, .col-xs-6 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px; 
}
.main-wrapper{
	max-width: 1500px;
	margin: 0 auto;
}
.banner-wrapper{
	background-image: url('../img/hon_banner.png');
	background-repeat: no-repeat;
	background-position: right;
	height: 100px;
	max-width: 98%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.today-jackpot{
	font-size: 40px;
	color: ;
}
/* style nav bar */  
.navbar-default .navbar-brand{
	background-image: url('../img/logo-esport.png');
	background-repeat: no-repeat;
	width: 120px;
}
.navbar-default {
    background: none repeat scroll 0% 0% rgba(0,0,0,0);
    border: none;
    border-bottom: 4px solid rgba(105,117,36, 0.8) ;
    border-top: 4px solid rgba(105,117,36, 0.8) ;
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff; 
    border-radius: 0;
}

/* end style nav */

/* blinker animation*/
 .banner-wrapper{
 	width: 100%;
 }
.blink-me {
  animation: blinker 2s linear infinite;
  width: 66,666%;
  text-align: center;
  font-size: 32px;
  color: #f66414;
}

@keyframes blinker { 
  0%  { opacity: 1; } 
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}

/*end of blinker animation*/

/* bounce effect*/
 @-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse:hover, .pulse:focus, .pulse:active {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  cursor: default;
}


/*end bounce effect*/

/* style main content */
.col-md-12.tabs-first{
  color: #fff968;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(255,249,104,0.3);
}
.col-md-12.tabs-first > div{
  color: #fff;
   padding-top: 0px;
}
.middle-section > .row{
  border-radius: 10px;
}
.middle-section .row .btn {
  padding: 2px 5px 2px 5px;
  background-color: #fff968;
  color: rgba(3,34,87,1);
	border: none;
	font-size: 12px;
	position: absolute;
  right: 10px;
  z-index: 5;
}
.middle-section .row .btn:focus{
	outline: none;
}
.middle-section .row{
	cursor: default;
	margin-left: 10px;
	margin-right: 10px;
 }
.middle-section .my-tabs-up {
 background: rgba(11,85,102,1);
background: -moz-linear-gradient(top, rgba(11,85,102,1) 0%, rgba(11,85,102,1) 2%, rgba(3,34,87,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,85,102,1)), color-stop(2%, rgba(11,85,102,1)), color-stop(100%, rgba(3,34,87,1)));
background: -webkit-linear-gradient(top, rgba(11,85,102,1) 0%, rgba(11,85,102,1) 2%, rgba(3,34,87,1) 100%);
background: -o-linear-gradient(top, rgba(11,85,102,1) 0%, rgba(11,85,102,1) 2%, rgba(3,34,87,1) 100%);
background: -ms-linear-gradient(top, rgba(11,85,102,1) 0%, rgba(11,85,102,1) 2%, rgba(3,34,87,1) 100%);
background: linear-gradient(to bottom, rgba(11,85,102,1) 0%, rgba(11,85,102,1) 2%, rgba(3,34,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b5566', endColorstr='#032257', GradientType=0 );
}
.middle-section .row .col-md-12:hover,
 .tab-content .tab-pane .col-md-6:hover{
background: rgba(27,80,133,1);
  background: -moz-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,80,133,1)), color-stop(45%, rgba(20,61,102,1)), color-stop(99%, rgba(19,58,97,1)), color-stop(100%, rgba(19,58,97,1)));
  background: -webkit-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
  background: -o-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
  background: -ms-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
  background: linear-gradient(to right, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b5085', endColorstr='#133a61', GradientType=1 );
}
.middle-section .my-tabs,
.middle-section .my-tabs .row{
background: rgba(164,179,87,1);
background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );
}
.middle-section .my-tabs-up .row{
    color: #fff;
}
.middle-section .my-tabs .row:hover,
.middle-section .my-tabs:hover{
	background: rgba(164,179,87,1);
background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );
}
.middle-section .row .col-md-6{
	text-align: center;
  font-weight: normal;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
}
.tabs-first .collapse{
  color: #fff;
}
.middle-section .row .col-md-6 span{
	  display: inline-block;
    width: 25%;
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box; 
}
#dota .row .col-md-6 span,
#counter-strike .row .col-md-6 span,
#star-craft .row .col-md-6 span,
#hon .row .col-md-6 span{
	display: inline-block;
  width: 25%;
  text-align: center;
}
#dota .row .col-md-6:first-child, 
#dota .row .col-md-6:nth-child(2),
#counter-strike .row .col-md-6:first-child,
#counter-strike .row .col-md-6:nth-child(2),
#hon .row .col-md-6:first-child, 
#hon .row .col-md-6:nth-child(2),
#star-craft .row .col-md-6:first-child, 
#star-craft .row .col-md-6:nth-child(2){
   background: rgba(27,80,133,1);
  background: -moz-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,80,133,1)), color-stop(45%, rgba(20,61,102,1)), color-stop(99%, rgba(19,58,97,1)), color-stop(100%, rgba(19,58,97,1)));
  background: -webkit-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
  background: -o-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
  background: -ms-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
  background: linear-gradient(to right, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b5085', endColorstr='#133a61', GradientType=1 );
}
#dota .row, #counter-strike .row{
	border: none;
}
.middle-section .row .col-md-9{
	padding-left: 10px;
}
.my-tabs{
	margin-top: 20px;
}
.my-tabs .col-md-6, .my-tabs .col-xs-6 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand>img {
    margin-top: -15px;
}
.navbar-default .navbar-nav>li.active>a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
  background-color: rgba(105,117,36, 0.8);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .3);
   box-shadow: inset 0 3px 5px rgba(0, 0, 0, .3);
}
.my-tabs-up .nav-tabs{
  background-color:  rgba(164,179,87,1);
}
.nav-tabs {
    border-bottom: 1px solid rgba(13,41,69, 0.5);
    padding: 5px;
    margin: 0;
    text-align: center;
    border-radius: 10px;
}
.nav-tabs>li{ 
     display: inline-table;
     float: none;
 }
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover {
    color: #fff;
    cursor: default;
    background-color: #0f2e4d;
    border: 1px solid rgba(255,255,255,0.3);
    border-bottom-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .3);
   box-shadow: inset 0 3px 5px rgba(0, 0, 0, .3);
}
.my-tabs .nav-tabs>li.active>a, 
.my-tabs .nav-tabs>li.active>a:focus, 
.my-tabs .nav-tabs>li.active>a:hover,
.my-tabs .nav-tabs>li>a:hover {
    color: #fff;
    cursor: default;
    background-color: #0f2e4d;
    border: 1px solid #0f2e4d;
    box-shadow: none;
}
/* end style main content */

/* style left sidebar */

.left-sidebar .btn{
    display: block;
	padding: 5px 10px 5px 10px;
	margin: 0;
	border-radius: 1px;
	width: 100%;
	border: none;
	background-color: #0f2e4d;
}
.right-sidebar .btn{
    display: block;
	text-align: left;
	margin: 0;
	border-radius: 1px;
	width: 100%;
	border: none;
	background-color: #0f2e4d;
}
.left-sidebar .btn:focus, .right-sidebar .btn:focus{
	outline: none;
}
.left-sidebar, .right-sidebar{
	border-radius: 10px;
  padding-bottom: 10px;
	background-color: #0f2e4d;
  border-bottom: 4px solid rgba(105,117,36, 0.8);
  border-top: 4px solid rgba(105,117,36, 0.8);
}
.left-sidebar-nav li, .right-sidebar-nav li{
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.left-sidebar-nav li a, .right-sidebar-nav li a{
	display: block;
	padding: 5px 10px 5px 10px;
	margin: 0;
	border-radius: 1px;
}
.left-sidebar-nav li a:hover, .left-sidebar .btn:hover,
.right-sidebar-nav li a:hover, .right-sidebar .btn:hover{
	background: rgba(27,80,133,1);
	background: -moz-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,80,133,1)), color-stop(45%, rgba(20,61,102,1)), color-stop(99%, rgba(19,58,97,1)), color-stop(100%, rgba(19,58,97,1)));
	background: -webkit-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
	background: -o-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
	background: -ms-linear-gradient(left, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
	background: linear-gradient(to right, rgba(27,80,133,1) 0%, rgba(20,61,102,1) 45%, rgba(19,58,97,1) 99%, rgba(19,58,97,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b5085', endColorstr='#133a61', GradientType=1 );
	color: #cec87e;
	box-shadow: none;
}
.left-sidebar-nav.collapse li a,
.right-sidebar-nav.collapse li a{
color: 	#cec87e;
}
.search input[type="text"] {
    position: relative;
    border-radius: 15px;
    width: 90%;
    color: #121405; 
}
.search input[type=text]:focus{
  border-radius: 15px;
  outline: none;
  background-color: #e5e5e5;
}

input { font-family: 'FontAwesome'; }

.search:before {
    font-family: 'FontAwesome';
    color: #fff;
    position: relative;
    left: -5px;
    content: " \f002 ";
}

.jackpot h2{
  text-align: center;
	color: #ec3305;
	animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
}
@keyframes shake {
  0% {
    transform: skewY(20deg);
  }
  100% {
    transform: skewY(-20deg);
  }
}
@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}
/* end style left sidebar */


/* style right sidebar */
.right-sidebar .row span.play{
	text-align: center;
	color: #ff3300;
}
.right-sidebar .row,.search{
  padding-top: 10px;
}
.right-sidebar .row span{
  padding: 5px;
}

/* end right sidebar */

/* footer */
.nav-footer li:before{
   content: "\f058";
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
}
.nav-footer li a:hover,
 footer .col-md-3 p a:hover{
   box-shadow: none;
   color: #B0CB1F;
}
footer .col-md-3 p:last-child a{
   font-size: 20px;
   text-align: center;
}
footer {
	background-color: #0f2e4d;
	margin-top: 20px;
  padding-top: 15px;
  border-radius: 10px;
  border-bottom: 4px solid rgba(105,117,36, 0.8);
  border-top: 4px solid rgba(105,117,36, 0.8);
}
.copyright{
	margin-left: 15px; 
    margin-right: 15px;
	border-bottom: 4px solid rgba(105,117,36, 0.8);
    border-top: 4px solid rgba(105,117,36, 0.8);
}

/* end styles footer */

/* responsive */
@media (min-width: 1180px) and (max-width: 1400px){
	.right-sidebar .btn {
    font-size: 11px;
 }
}
@media (min-width: 990px) and (max-width: 1375px) {
   .middle-section .row .col-md-6 {
    padding: 0;
    width: 100%;
    text-align: left;
 }    
}
@media (min-width: 990px ) and (max-width: 1180px){
	.right-sidebar .btn {
    font-size: 9px;
 }
}
@media (max-width: 990px ){
	.right-sidebar, .my-tabs-up, footer {
    margin-top: 20px;
 }
 .left-sidebar{
    margin-top: 50px;
 }
 .middle-section .row {
  margin-right: 0px;
  margin-left: 0px;
 }
 .col-md-8{
  margin-top: 20px;
 	padding-left: 1px;
 	padding-right: 1px;
 }
.jackpot, .jackpot ul{
	text-align: center;
	padding-bottom: 10px;
}
}
@media (max-width: 990px ){
 .today-jackpot, .blink-me {
 	font-size: 28px;
 }
 body{
  background: url(../img/dota_bg.png) no-repeat 50% top rgb(9, 29, 48);
  background-attachment: fixed;
}
}
@media (max-width: 955px) {
 footer .col-xs-12 .col-xs-3, 
 footer .col-md-12 .col-md-3{
      width: 50% ;
      margin-top: 20px ;
 }
}
@media (max-width: 870px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .row.my-tabs-up{
    	margin: 0;
    	padding: 0;
    	width: 100%;
    }
    .nav>li {
    font-size: 18px;
 }
 .navbar-nav {
    margin: 7.5px -15px;
 }
  .navbar-brand {
    display: block !important;
    float: none;
 }
 .middle-section .row .col-md-6 {
    padding: 0;
    width: 100%;
    text-align: left;
 }
  .middle-section .row .col-md-6 span{
    padding: 0;
    float: left;
    text-align: left;
    color: #B7D032;
    text-align: center;
    font-weight: bold;
 }
}
@media (max-width: 770px) {
	.middle-section .row .btn {
    right: 2px;
}
  .middle-section .row .col-xs-6,
  .middle-section .row .col-md-6 {
    padding: 0;
    width: 100%;
    text-align: left;
 }
  .middle-section .row .col-xs-6 span{
    padding: 0;
    float: left;
    text-align: left;
    color: #B7D032;
    text-align: center;
    font-weight: bold;
 }
  .middle-section .my-tabs .row .col-xs-6 span{
    color: #fff;
  }
 .middle-section .row {
 	margin-right: 1px;
 	margin-left: 1px;
 }
 footer .col-xs-12 .col-xs-3, 
 footer .col-md-12 .col-md-3{
      width: 100% ;
      margin-top: 10px ;
 }
 .nav-tabs>li>a,
 .middle-section .row .btn,
 .right-sidebar .btn,
 .left-sidebar .btn{
  font-size: 19px;
 }
 .left-sidebar-nav li,
 .right-sidebar-nav li{
 font-size: 18px;
}
.nav-footer li{
  font-size: 18px;
}
.banner-wrapper{
  background: none;
}
.navbar-collapse.collapse.in{
	background-color: rgba(0,0,0,0.4);
}
}
@media (max-width: 550px ){
 .today-jackpot, .blink-me {
  font-size: 18px;
 }
}
@media (max-width: 380px ){
 .today-jackpot, .blink-me {
  display: block;
 }
  .left-sidebar{
    margin-top: 90px;
 }

}